@use "colors.scss" as color;

.col {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    position: fixed;
    left: 0;
    width: 20%;
    height: 100vh; // Expand to the bottom of the page
    flex-direction: column;
    border-right: 3px solid color.$gcolor; // Use the namespace to reference the variable
    background-color: color.$wcolor; // Use the namespace to reference the variable
    gap: 10px; // Add gap between child elements
}

.col button {
    display: flex;
    align-items: center;
    align-self: center; // Center the buttons
}
.btn i {
    margin-right: 3px;
    /* Adjust the value as needed */
}
.btn {
    padding: 10px 20px;
    border: none;
    background-color: color.$wcolor;
    color: color.$bcolor;
    cursor: pointer;
    border-radius: 7px;
    transition: background-color 0.3s;

    &:hover {
        background-color: color.$bcolor;
        color: color.$wcolor;
    }
}
.btn img{
    width: 20px;
    height: 20px;
    margin-right: 10px;

}

.logo-img {
    position: relative;
    width: 50%; // Adjust the width
    height: auto; // Maintain aspect ratio
    align-self: center; // Center the image
    margin-top: -20px; // Move the image up
}